.sign-in-overlay,.register-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.floating-card {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 2rem 3rem;

    background-color: var(--bg-color);
    border: 1px solid var(--border-subtle);
    border-radius: 3px;
}

.server-error{
    align-self: center;
    color: #ef4444;
}
.close-button {
    color: var(--text-muted);
    margin-left: auto;
}

.close-button:hover {
    color: var(--text-primary);
}

.welcome-text {
    font-family: var(--font-headlink);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.welcome-description {
    color: var(--text-muted);
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

.input-label {
    color: var(--text-muted);
    font-family: monospace;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.input-field {
    width: 100%;
    background-color: #1b1b1b;
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
    padding: 0.7rem;
    margin-bottom: 0.6rem;
    color: var(--text-primary);
}

.input-field::placeholder {
    color: var(--text-muted);
}

.input-field.error {
    border: 1px solid #ef4444;
}

.input-field.error::placeholder {
    color: #ef4444;
}



.submit-button {
    font-family: var(--font-headlink);
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    width: 100%;
    padding-block: 0.7rem;
    background-color: var(--accent);
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
    margin-top: 0.6rem;
    margin-bottom: 1.4rem;
}

.submit-button:hover {
    background-color: var(--accent-hover);
}

.submit-button:active {
    transform: scale(0.98);
}

.query-text {
    font-family: monospace;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--text-muted);
}

.register-now {
    font-family: monospace;
    color: var(--text-primary);
    font-weight: bold;
    text-transform: none;
}

@media (max-width: 465px) {
    .floating-card {
        width: 350px;
    }
}